/* 
    Document   : styles
    Created on : 11/06/2012, 08:16:20
    Author     : ivanildofilho
    Description:
        Purpose of the stylesheet follows.
*/
@import "../runo/styles.css";

input.codigoProduto ,
input[type=text].codigoProduto {
  font-size: 30px;
  height: 35px;
  padding: 2px;
/*  text-align: center;*/
  background: antiquewhite url(img/bg.png) repeat-x;

}
input.descricaoProduto ,
input[type=text].descricaoProduto{
  font-size: 30px;
  height: 35px;
  padding: 2px;
/*  text-align: center;*/
  background: antiquewhite url(img/bg.png) repeat-x;

}
/*.v-panel-painel1 {
  background: red;
}
.v-panel-caption-light-painel1 {
  background: antiquewhite;
}
.v-panel-content-light-painel1 {
  border: none;
  background: antiquewhite;
}*/
.v-label-moeda{
  margin: 0;
  padding: 8px 0 4px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -0.03em;
  font-weight: normal;
  text-shadow: 0 1px 1px red;
/*  background: yellowgreen;*/
  color: brown;
  
}
.v-label-soma{
  margin: 0;
  padding: 8px 0 4px;
  font-size: 35px;
  line-height: normal;
  letter-spacing: -0.03em;
  font-weight: normal;
  text-shadow: 0 1px 1px red;
/*  background: yellowgreen;*/
  color: brown;
  
}
/*.v-table-header-wrap{
  height: 36px;
  border: 1px solid buttontext;
  border-bottom: none;
  background: blueviolet url(img/header-bg.png) repeat-x;
}*/